.CMVCurrencies{
    width: 80%;
	height: 5rem;
    margin: auto;
    padding-top: 0rem;	
}
.CMVCurrencies_main{
    height: auto;
    width: 60%;
	font-size:1.3rem;
    border: 1px solid rgba(86, 231, 241, 0.789);
    margin: auto;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2), 0 1px 2px 0 rgba(177, 177, 177, 0.19);
    margin-bottom: 2.6em;
	padding: 0 0.5rem 0 0.5rem;
	border-radius: 5rem;
    }
.CMVCurrencies_changeCurrency{
    display: flex;
    height: auto;
    width: 100%;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
}
.CMVCurrencies_input{
   flex: 0.5;
   height: 2.4em;
   padding-left: 0.2rem;
   border: 0em;
   color: rgba(63, 194, 187, 0.801);
   outline: none;
   background-color: transparent;
}
.CMVCurrencies_input::placeholder{
   color: rgba(63, 194, 188, 0.411);  
}
.CMVCurrencies_input:focus{
    outline: none !important;
    border-right:0px solid rgba(53, 91, 102, 0.123);
    
}
.CMVCurrencies_currentCurrency{
    display: flex;
    flex: 0.5;
    height: 2em;
    align-items: center;
    padding-right: 0.5rem;
    gap:5%;
    justify-content: center;
    align-items: center;

}
.CMVCurrencies_currentCurrency p{
    margin-left: auto;
    font-weight: 500;
    font-size: 1.2vw;
    color: rgba(63, 194, 187, 0.801);
}
.CMVCurrencies_check{
    padding: 0%;
    margin-top: 0.37rem;
    color: rgba(63, 194, 187, 0.801);
}
.CMVCurrencies_currencyInfo{
    position: absolute; 
    width: 50%;
    padding: 0rem;

}
.CMVCurrencies_currencylist{
    padding: 0.4em ;
	font-size:1.3vw;
	border-top: 0px solid rgba(86, 231, 241, 0.789); 
	border-left: 1px solid rgba(86, 231, 241, 0.789); 
	border-right: 1px solid rgba(86, 231, 241, 0.789); 
    border-bottom: 1px solid rgba(86, 231, 241, 0.789);  
	border-bottom-left-radius:1em;
	border-bottom-right-radius:1em;
    border-style: dashed;
    color: rgba(63, 194, 187, 0.801);
	cursor:pointer
}
.CMVCurrencies_LS{
    text-align: center;
    margin-top: 2em;
    color: rgba(63, 194, 187, 0.801);
	
}

@media screen and (max-width: 920px) {
    .CMVCurrencies{
        width: 75%;
        margin: auto;
        padding-top: 0.3rem;
    }
    .CMVCurrencies_main{
        height: auto;
        width: 100%;
        margin: auto;
        position: relative;
       
        }
    .CMVCurrencies_changeCurrency{
        display: flex;
        height: auto;
        width: 100%;
        margin: auto;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    .CMVCurrencies_input{
       flex: 0.5;
	   font-size:2vw;
       height: 2.5em;
       padding-left: 0.2rem;
       border: 0em;
    }
    .CMVCurrencies_currentCurrency{
        display: flex;
        flex: 0.5;
        height: 2em;
        align-items: center;
        padding-right: 0.5rem;
        gap:5%;
        justify-content: center;
        align-items: center;
    
    }
    .CMVCurrencies_currentCurrency p{
        margin-left: auto;
        font-weight: 500;
        font-size: 2vw;
    }
    .CMVCurrencies_check{
        padding: 0%;
		font-size: 2.5vw;
        margin-top: 0.37rem;
    }
    .CMVCurrencies_currencyInfo{
        position: absolute; 
        width: 50%;
        padding: 0rem;  
    }
    .CMVCurrencies_currencylist{
        padding: 0.5em; 
        border-style: dashed;
    }
    }

@media screen and (max-width: 550px) {
.CMVCurrencies{
    width: 95%;
    margin: auto;
    padding-top: 0.3rem;
}
.CMVCurrencies_main{
    height: auto;
    width: 100%;
    margin: auto;
	padding: 0 0.2rem 0 0.7rem;
	font-size:1rem;
    position: relative;
    }
.CMVCurrencies_changeCurrency{
    display: flex;
    height: auto;
    width: 100%;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
}
.CMVCurrencies_input{
   flex: 0.6;
   height: 2.4em;
   padding-left: 0.2rem;
   font-size: 5vw;
}
.CMVCurrencies_currentCurrency{
    display: flex;
    flex: 0.5;
    height: auto;
    align-items: center;
    padding-right: 0.5rem;
    gap:5%;
    justify-content: center;
    align-items: center;
    font-size: 3.2vw;

}
.CMVCurrencies_currentCurrency p{
    margin-left: auto;
    font-weight: 500;
    font-size: 3.5vw;
}
.CMVCurrencies_check{
    padding: 0%;
    margin-top: 0.37rem;
	font-size:4vw
}
.CMVCurrencies_currencyInfo{
    position: absolute; 
    width: 50%;
    padding: 0rem;

}
.CMVCurrencies_currencylist{
    padding: 0.4em ;
	border-top: 0px solid rgba(86, 231, 241, 0.789); 
	border-left: 1px solid rgba(86, 231, 241, 0.789); 
	border-right: 1px solid rgba(86, 231, 241, 0.789); 
    border-bottom: 1px solid rgba(86, 231, 241, 0.789);  
	border-bottom-left-radius:1em;
	border-bottom-right-radius:1em;
    border-style: dashed;
    color: rgb(53, 91, 102);
}
}