.nav_bar{
    width:100%;
    height: 7.5vh;
    margin: auto;
    padding-left: 1rem;
    align-items: center;
    justify-content: center;
    display:flex;
    justify-content: flex-start;
    position: relative;
    background-color: rgb(56, 124, 151);
    background-image: -webkit-linear-gradient(rgb(56, 124, 151),rgba(40, 156, 150, 0.651));
    align-items: center;
    z-index: 7;
    box-shadow: 0 1px 2px 0 rgba(102, 102, 102, 0.2), 0 2px 2px 0 rgba(105, 105, 105, 0.19);
    }
    .nav_bar__logo{
    width: auto;
    height:60%;
    position: relative;
    }
    .nav_bar__logo_icon{
    width:100%; 
    height: 100%;
    vertical-align: bottom;
  
    }
    .nav_bar__compName{
    width:auto;
    font-size: 1.5vw;
    font-weight:500;
    margin-left:0.7rem;
    color:rgb(241, 250, 249);
    padding-bottom: 0.3%;
    text-shadow: 1px 1px rgba(133, 144, 148, 0.205);
    }
    .nav_bar__mobile_btn{
    margin-top: 0.7%;
    display: none;
    }
    .nav_bar__login{
    width: 7vw;
    height: 100%;
    }
    .nav_bar__login_btn{
    font-size: 1vw ;
    width: 100%;
    height: 100%;
    color: rgb(197, 196, 197);
    border: 1px solid rgb(248, 247, 248);
    background-color: transparent;
    
    }
    .nav_bar__login_btn:hover{
      color: rgb(248, 247, 248);
      transition: 0.4s
      }
    .nav_bar__wraper{
      margin-left: auto;
      padding-right: 0.8em;
    }
    .nav_bar__menu{
    list-style-type: none;
    margin: 0;
    padding-top: 0%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    text-decoration: none;
    gap: 25px;	
    font-size: 1vw;
    padding-bottom: 0.2vw;
    }
    .nav_bar__menu_a {
    color: rgba(231, 231, 231, 0.836);
    text-align: center;
    text-decoration: none;
    }
    .nav_bar__menu_a:hover {
    color: rgb(250, 245, 250);
    }
    .nav_bar__mobileBtn{
      display: none;
    }
    .nav_Mobilemenu{
      display: none;
    }
    
    
    @media screen and (max-width: 920px) {
      .nav_bar{
        height: 5.2vh;
        }
      .nav_bar__logo{
        width: auto;
        height:70%;
        position: relative;
        }
        .nav_bar__compName{
        width:auto;
        font-size: 2.8vw;
        font-weight:500;
        margin-left:0.7rem;
        color:rgb(248, 245, 245);
        padding-bottom: 0.3%;
        }
        .nav_bar__mobile_btn{
        margin-top: 0.7%;
        height: 30%;
        display: none;
        }
        .nav_bar__login{
        width: 9vw;
        height: 100%;
        }
        .nav_bar__login_btn{
        font-size: 1.6vw ;
        width: 100%;
        height: 100%;
        color: rgb(197, 196, 197);
        background-color: transparent;
        }
        .nav_bar__login_btn:hover{
          color: rgb(248, 247, 248);
          transition: 0.4s
          }
        .nav_bar__wraper{
          margin-left: auto;
      
        }
        .nav_bar__menu{
        list-style-type: none;
        margin: 0;
        padding-bottom: 0.5vw;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        text-decoration: none;
        gap: 15px;	
        font-size: 2vw;
        }
        .nav_bar__menu_a {
        color: rgb(197, 196, 197);
        text-align: center;
        text-decoration: none;
        }
        .nav_bar__menu_a:hover {
        color: rgb(250, 245, 250);
        }
        .nav_Mobilemenu{
          display: none;
        }
    }
    
    
    @media screen and (max-width: 830px) {
      .nav_bar{
        height: 5.2vh;
        position: fixed;
        top: 0;
        }
      .nav_bar__logo{
        width: auto;
        height:70%;
        position: relative;
        }
        .nav_bar__logo_icon{
        width:100%; 
        height: 100%;
        }
        .nav_bar__login{
          width: 10vw;
          height: 100%;
          }
          .nav_bar__login_btn{
          font-size: 1.6vw ;
          width: 100%;
          height: 100%;
          color: rgb(197, 196, 197);
          border: 1px solid rgb(197, 196, 197);
          background-color: transparent;
          }
          .nav_Mobilemenu{
            display: none;
          }
    }
    
    @media screen and (max-width: 550px) {
      .nav_bar{
        width:100%;
        height: 5em;
        margin: auto;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        display:flex;
        justify-content: flex-start;
        padding-right: 1vw;
        padding-left: 1.5vw;
        
      
        }
        .nav_bar__logo{
        width: auto;
        height:60%;
        position: relative;
        }
        .nav_bar__logo_icon{
        width:100%; 
        height: 100%;
        vertical-align: bottom;
        }
        .nav_bar__compName{
        width: auto;
        font-size: 6vw;
        font-weight:500;
        margin-left:0.7rem;
        color:rgb(248, 245, 245);
        padding-bottom: 1%;
        }
        .nav_bar__mobile_btn{
        color:rgb(77, 121, 146);
        font-size: 5em;
        width: auto;
        display: block;
        
        }
        .nav_bar__login{
        width: 25%;
        height: 100%;
        margin-left: auto;
        padding-right: 3rem;
        
        
        }
        .nav_bar__login_btn{
        font-size: 3.5vw ;
        width: 100%;
        height: 100%;
        color: rgb(197, 196, 197);
        background-color: transparent;
        
        }
        .nav_bar__login_btn:hover{
          color: rgb(248, 247, 248);
          transition: 0.4s
          }
        .nav_bar__wraper{
          margin-left: auto;
          padding-right: 2em;
          display: none;
        }
        .nav_bar__menu{
        list-style-type: none;
        margin: 0;
        padding-top: 0%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        text-decoration: none;
        gap: 25px;	
        font-size: 1vw;
        }
        .nav_bar__menu_a {
        color: rgb(197, 196, 197);
        text-align: center;
        text-decoration: none;
        }
        .nav_bar__menu_a:hover {
        color: rgb(250, 245, 250);
        }
        .nav_bar__mobileBtn{
          font-size: 2.3em;
          display: block;
          align-items: center;
          color: rgb(185, 184, 185);
          padding-top: 1%;
          margin-left: auto;
        }
        .nav_bar__mobileBtn :hover{
          color: rgb(247, 243, 247);
        }
        .nav_Mobilemenu{
          color: rgb(31, 29, 31);
          width: 70%;
          height: 90vh;
          right: -1.8%;
          top: 130%;
          background-color:  rgb(248, 242, 248);
          overflow: hidden;
          background-image: -webkit-linear-gradient(rgb(255, 255, 255),rgb(219, 219, 219));
          position: absolute;
          z-index: 2;
          border-radius: 2vw 0vw 0vw 2vw;
          display: block;
          animation:  mobileMenu  linear;
          display: none;
        }  
        .nav_Mobilemenu ul{
          list-style: none;
          margin: 0;
          padding: 1vw;
          z-index: 2;
          font-size: 4vw;
          display: flex;
          flex-direction: column;
          gap: 0.5em;
        } 
        .nav_Mobilemenu ul li:hover{
          color:  rgb(245, 190, 245);
        }   
      
        .nav_bar__menu_aMobile{
          text-decoration: none;
          color: inherit;
        }
    /*
        @keyframes imageroto {
          from{
              transform:rotate(0deg);
            }
            
            to{
              transform:rotate(360deg);
            }
        }
        */
    }
    
    @media screen and (max-width: 420px) {
      .nav_bar{
        width:100%;
        height: 4em;
        padding-left: 1.5vw;
        padding-right: 1vw;
        margin: auto;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        display:flex;
        justify-content: flex-start;
        }
        .nav_bar__logo{
        width: auto;
        height:60%;
        position: relative;
        }
        .nav_bar__logo_icon{
        width:100%; 
        height: 100%;
        vertical-align: bottom;
        }
        .nav_bar__compName{
        width: auto;
        font-size: 6vw;
        font-weight:500;
        margin-left:0.7rem;
        color:rgb(248, 245, 245);
        }
    
        .nav_bar__login{
        width: 30%;
        height: 100%;
        margin-left: auto;
        padding-right: 3rem;
        
        
        }
        .nav_bar__login_btn{
        font-size: 3.5vw ;
        width: 100%;
        height: 100%;
        color: rgb(197, 196, 197);
        background-color: transparent;
        
        }
        .nav_bar__login_btn:hover{
          color: rgb(248, 247, 248);
          transition: 0.4s
          }
        .nav_bar__wraper{
          margin-left: auto;
          padding-right: 2em;
          display: none;
        }
        .nav_bar__menu{
        list-style-type: none;
        margin: 0;
        padding-top: 0%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        text-decoration: none;
        gap: 25px;	
        font-size: 1vw;
        }
        .nav_bar__menu_a {
        color: rgb(197, 196, 197);
        text-align: center;
        text-decoration: none;
        }
        .nav_bar__menu_a:hover {
        color: rgb(250, 245, 250);
        }
        .nav_bar__mobileBtn{
          font-size: 1.8em;
          display: block;
          align-items: center;
          color: rgb(191, 215, 224);
          padding-top: 1.4%;
        }
        .nav_bar__mobileBtn :hover{
          color: rgb(96, 187, 223);;
        }
      
        .nav_Mobilemenu{
          color: rgb(196, 248, 244);
          width: 85%;
          height: 94vh;
          right: -1.8%;
          top: 101%;
          padding: 1em;
          background-color:  rgb(56, 124, 151);
          overflow: hidden;
          background-image: -webkit-linear-gradient(rgb(56, 124, 151),rgba(40, 156, 150, 0.651));
          position: absolute;
          z-index: 2;
          border-radius: 2vw 0vw 0vw 2vw;
          animation:  mobileMenu  linear;
          display: none;
          transition: 1s;
          
        }  
        .nav_Mobilemenu ul{
          list-style: none;
          margin: 0;
          padding: 1vw;
          z-index: 2;
          font-size: 5vw;
          display: flex;
          flex-direction: column;
          gap: 0.5em;
        } 
        .nav_Mobilemenu ul li:hover{
          color:  rgb(245, 190, 245);
        }   
        .nav_Mobilemenu_battleNet{
          display: none;
        }
        .nav_bar__menu_aMobile{
          text-decoration: none;
          color: inherit;
        }
    
    }
    
    