.page_Contianer{
margin:auto;
padding-top:1rem;
display:flex;
gap:0.2em;
color:gray;
cursor:pointer;
justify-content: center;
width:90%;
flex-wrap :wrap;

}


.pageNum{
margin-left:0.7rem;
margin-right:0.7rem;
}