.displayCoin{
width: 80%;
padding-top: 1rem;
margin: auto;
}
.displayCoin_main{
height: 30vh;
width: 60%;
margin: auto;
overflow: auto;
resize: vertical;
border: 1px solid rgb(94, 129, 139);
}
.displayCoin_screen{
display: flex;
width: 100%;
flex-direction: row;
height: auto;
gap: 2.5%;
word-break: break-all;
overflow-x: hidden;
padding: 0.5em;
margin: auto;
flex-wrap: wrap;
justify-content: flex-start;

}
.displayCoin_container{
display: flex;
gap:0.7rem;
width: 18%;
height: 3rem;
align-items: center;
border: 1px solid rgba(94, 129, 139, 0.226);
padding: 0.2rem;
overflow: hidden;
word-break: break-all;
position: relative;
box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2), 0 2px 2px 0 rgba(177, 177, 177, 0.19);
margin-bottom: 1rem;
}
.displayCoin_img{
    width: auto;
    height: 80%;
}
.displayCoin_name{
font-weight: 600;
color: rgb(78, 106, 114);
}
.displayCoin_delete{
position: absolute;
align-items: center;
width: 100%;
height: 100%;
top: 0;
left: 0;
text-align: right;
padding-top: 0%;
padding-right: 4%;
background-color: rgba(241, 241, 241, 0.534);
transition: 2s;
transition-timing-function: ease-in-out;
transition-delay: 1s;
display: none;
}
.displayCoin_deleteIcon{
margin-top: 15.5%;
color: rgb(94, 129, 139);
}


/* width */
.displayCoin_main::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .displayCoin_main::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .displayCoin_main::-webkit-scrollbar-thumb {
    background: rgba(94, 129, 139, 0.836); 
  }
  
  /* Handle on hover */
  .displayCoin_main::-webkit-scrollbar-thumb:hover {
    background: rgb(94, 129, 139); 
  }



@media screen and (max-width: 920px) {
.displayCoin{
width: 100%;
}
.displayCoin_main{
    height: 19vh;
    width: 75%;
    margin: auto;
    overflow: auto;
    resize: vertical;
    }
    .displayCoin_screen{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: auto;
    gap: 2.5%;
    word-break: break-all;
    overflow-x: hidden;
    padding: 0.5em;
    margin: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    }
.displayCoin_container{
display: flex;
gap:0.7rem;
width: 23.1%;
height: 3.5rem;
align-items: center;
padding: 0.4rem;
word-break: break-all;
position: relative;
margin-bottom: 1.1rem;
}  
.displayCoin_name{
font-weight: 600;
font-size: 2.3vw;
}   
}
 


@media screen and (max-width: 550px) {
.displayCoin{
width: 100%;
}
.displayCoin_main{
height: 37vh;
width: 98%;
margin: auto;
overflow: auto;
resize: vertical;
}
.displayCoin_screen{
display: flex;
width: 100%;
flex-direction: row;
height: auto;
gap: 3.5%;
word-break: break-all;
overflow-x: hidden;
padding: 0.5em;
margin: auto;
flex-wrap: wrap;
justify-content: flex-start;   
}

.displayCoin_container{
display: flex;
gap:0.7rem;
width: 31%;
height: 4rem;
align-items: center;
border: 1px solid rgb(170, 170, 170);
padding: 0.2rem;
word-break: break-all;
position: relative;
}
.displayCoin_deleteIcon{
margin-top: 15%;
font-size: 4vw;
}
.displayCoin_name{
font-weight: 600;
font-size: 4vw;
}  
}
        
@media screen and (max-width: 430px) {
.displayCoin{
width: 100%;
}  
.displayCoin{
width: 100%;
}
.displayCoin_main{
    height: 37vh;
    width: 98%;
    margin: auto;
    overflow: auto;
    resize: vertical;
    }
    .displayCoin_screen{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: auto;
    gap: 3.5%;
    word-break: break-all;
    overflow-x: hidden;
    padding: 0.5em;
    margin: auto;
    flex-wrap: wrap;
    justify-content: flex-start;   
    }

.displayCoin_container{
display: flex;
gap:0.7rem;
width: 48%;
height: 4rem;
align-items: center;
padding: 0.2rem;
word-break: break-all;
position: relative;
margin-bottom: 0.8rem;
}
.displayCoin_deleteIcon{
margin-top: 11%;
font-size: 6vw;
}
.displayCoin_name{
font-weight: 600;
font-size: 5vw;
}  
}
    
    
    