.showPriceAlertz_Contianer{
	position:absolute;
	top:-70%;
	width:100%;
	height:50%;
	background-color: rgb(248, 255, 255);
	transition: 0.50s;
	 -webkit-backface-visibility: hidden;
 -webkit-perspective: 1000;
 -webkit-transform: translate3d(0,0,0);
 -webkit-transform: translateZ(0);
 backface-visibility: hidden;
 perspective: 1000;
 transform: translate3d(0,0,0);
 transform: translateZ(0);

}
.showPriceAlertz_ContianerShow{
	position:absolute;
	top:-5%;
	width:100%;
	height:50%;
	background-color: rgb(248, 255, 255);
    box-shadow: -3px 3px 3px 3px rgba(202, 202, 202, 0.637);
	transition: 0.50s;
	 -webkit-backface-visibility: hidden;
 -webkit-perspective: 1000;
 -webkit-transform: translate3d(0,0,0);
 -webkit-transform: translateZ(0);
 backface-visibility: hidden;
 perspective: 1000;
 transform: translate3d(0,0,0);
 transform: translateZ(0);
}
.showPriceAlertz_Header{
	text-align:center;
	font-size: 1.5em;
	font-weight:500;
	margin-top:4.7rem;
	padding:0.5rem;
    color: rgb(56, 88, 84);
	position: relative
}
.showPriceAlertz_close{
	position:absolute;
	top:35%;
	right: 1%;
	font-size: 0.8em;
	color:rgba(56, 88, 84, 0.384);
	transition: .4s;
}
.showPriceAlertz_close:hover{
	color:rgb(56, 88, 84);	
	transition: .4s;
}
.showPriceAlertz_ListContainer{
    width: 50%;
	height:62%;
	margin: auto;
	overflow-X: hidden;
	overflow-Y : scroll;
	scroll-behavior: smooth;
	
}

.showPriceAlertz_ListCont_PriceAlertz{
   display:flex;
   align-items: center;
   justify-content:left;
   width:100%;
   height:3.3em;
   padding-right:0.2rem;
   gap:2%;
   border: 1px solid rgb(202, 255, 249);
   padding:0.3rem;
   transition:.4s;
   position:relative
}
.showPriceAlertz_ListCont_PriceAlertz:hover{
   background-color: rgba(233, 247, 247, 0.5);
   transition:.4s
}
.showPriceAlertz_ListCont_PriceAlertz_img{
  flex:0.07;
  height: 80%;
  width:auto;
}
.showPriceAlertz_ListCont_PriceAlertz_img > img{
  width: auto;
  height: 100%;
  vertical-align: bottom
}

.showPriceAlertz_ListCont_PriceAlertz_des{
  flex:0.85;
  overflow-X:hidden;
  font-size: 1.1em
}

.showPriceAlertz_ListCont_delIcon{
	flex:0.08;
	color:rgb(163, 204, 199);
	transition: .4s;
	display: flex;
	align-items: center;
	justify-content:right;
	position:absolute;
	right:1%
}
.showPriceAlertz_ListCont_delIcon:hover{
	color:rgb(89, 163, 155);
	transition: .4s;
}
/* width */
.showPriceAlertz_ListContainer::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .showPriceAlertz_ListContainer::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .showPriceAlertz_ListContainer::-webkit-scrollbar-thumb {
    background: rgba(94, 129, 139, 0.836); 
  }
  
  /* Handle on hover */
  .showPriceAlertz_ListContainer::-webkit-scrollbar-thumb:hover {
    background: rgb(94, 129, 139); 
  }









@media screen and (max-width: 920px) {
   .showPriceAlertz_Contianer{
	height:35%;	
}
.showPriceAlertz_ContianerShow{
	height:35%;
}
.showPriceAlertz_Header{
	margin-top:15%;
}
.showPriceAlertz_close{
	top:32%;
}
.showPriceAlertz_ListContainer{
    width: 100%;
	height:58%;
}
.showPriceAlertz_ListCont_PriceAlertz{
   height:3.5rem;
}

	
}
@media screen and (max-width: 830px) {
   .showPriceAlertz_Contianer{
	height:35%;	
}
.showPriceAlertz_ContianerShow{
	height:35%;
}
.showPriceAlertz_Header{
	margin-top:14%;
}
.showPriceAlertz_close{
	top:32.5%;
}
.showPriceAlertz_ListContainer{
    width: 100%;
	height:58%;
}
.showPriceAlertz_ListCont_PriceAlertz{
   height:3.7rem;
}
}
@media screen and (max-width: 780px) {
   .showPriceAlertz_Contianer{
	height:35%;	
}
.showPriceAlertz_ContianerShow{
	height:35%;
}
.showPriceAlertz_Header{
	margin-top:13%;
}
.showPriceAlertz_close{
	top:31%;
}
.showPriceAlertz_ListContainer{
    width: 100%;
	height:55%;
}	
.showPriceAlertz_ListCont_PriceAlertz{
   height:3.9rem;
}
}

@media screen and (max-width: 550px) {
.showPriceAlertz_Contianer{
	position:absolute;
	width:100%;
	height:47%;
}
.showPriceAlertz_ContianerShow{
	height:47%;
}
.showPriceAlertz_Header{
	text-align:center;
	font-size: 4vw;
	font-weight:500;
	margin-top:7rem;
	padding:0.5rem;
    color: rgb(56, 88, 84);
	position: relative
}
.showPriceAlertz_close{
	position:absolute;
	top:35%;
	right: 1%;
	font-size: 0.8em;
	color:rgba(56, 88, 84, 0.384);
	transition: .4s;
}
.showPriceAlertz_close:hover{
	color:rgb(56, 88, 84);	
	transition: .4s;
}
.showPriceAlertz_ListContainer{
    width: 100%;
	height:51%;
    overflow: scroll;
	overflow-X:scroll 
}
.showPriceAlertz_ListContainer{
-ms-overflow-style: none;
scrollbar-width: none;
}
.showPriceAlertz_ListCont_PriceAlertz{
   height:3.5rem;
   width: 130%; 
  
}

/* width */
.showPriceAlertz_ListContainer::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  .showPriceAlertz_ListContainer::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .showPriceAlertz_ListContainer::-webkit-scrollbar-thumb {
    background: rgba(94, 129, 139, 0.836); 
  }
  
  /* Handle on hover */
  .showPriceAlertz_ListContainer::-webkit-scrollbar-thumb:hover {
    background: rgb(94, 129, 139); 
  }


}

@media screen and (max-width: 430px) {
.showPriceAlertz_Contianer{
	position:absolute;
	width:100%;
	height:20em;	
}
.showPriceAlertz_ContianerShow{
	height:20em;
}
.showPriceAlertz_Header{
	text-align:center;
	font-size: 4vw;
	font-weight:500;
	margin-top:7rem;
	padding:0.5rem;
    color: rgb(56, 88, 84);
	position: relative
}
.showPriceAlertz_close{
	position:absolute;
	top:33%;
	right: 1%;
	font-size: 0.8em;
	color:rgba(56, 88, 84, 0.384);
	transition: .4s;
}
.showPriceAlertz_close:hover{
	color:rgb(56, 88, 84);	
	transition: .4s;
}
.showPriceAlertz_ListContainer{
    width: 100%;
	height:10.5em;
	margin: auto;
	overflow-X:scroll
}
.showPriceAlertz_ListCont_PriceAlertz{
   height:3.5rem;
   width: 140%;
}
}
@media screen and (max-width: 390px) {
.showPriceAlertz_Contianer{
	position:absolute;
	width:100%;
	height:18em;
}
.showPriceAlertz_ContianerShow{
	height:18em;
}
.showPriceAlertz_Header{
	text-align:center;
	font-size: 4vw;
	font-weight:500;
	margin-top:6.3rem;
	padding:0.2rem;
	position: relative
}
.showPriceAlertz_close{
	position:absolute;
	top:33%;
	right: 1%;
	font-size: 0.8em;
	color:rgba(56, 88, 84, 0.384);
	transition: .4s;
}
.showPriceAlertz_close:hover{
	color:rgb(56, 88, 84);	
	transition: .4s;
}
.showPriceAlertz_ListContainer{
    width: 100%;
	height:9.5em;
	margin: auto;
}
.showPriceAlertz_ListCont_PriceAlertz{
   height:3.5rem;
}
}
