.tools_container{
width: 25%;
height: 32.8em;
position: fixed;
bottom:5%;
left:0;
right:0;
margin-left: auto;
margin-right: auto;
z-index: 5;
background:white;
box-shadow: 0 0 2px 2px rgb(231, 227, 230);
border-radius:1em 1em 10em 10em ;
transition: 0.4s;
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
-webkit-transform: translate3d(0,0,0);
-webkit-transform: translateZ(0);
backface-visibility: hidden;
perspective: 1000;
transform: translate3d(0,0,0);
transform: translateZ(0);
transition: 0.4s;
display:none
}
.tools_close{

}
.tools_inner_container{

}
.tools_close{
color:rgb(161, 220, 82) ;
width: fit-content;
height: fit-content;
display: flex;
justify-content: center;
align-content: center;
padding: 0.3rem;
border-radius: 20em;
position: absolute;
z-index: 8;
right: -3%;
top:-2%;
border: 1px solid rgb(161, 220, 82);
transition: 0.4s;	
display:none
}
.tools_close :hover{
color:rgb(220, 82, 92);
transition: 0.4s;
}
.form{
border:0px solid red;
padding:1rem 1rem 0.5rem 1rem
}
.select{
width:100%;
height:3em;	
}
.selectOptions{
font-size:1.3vw;
width:100%;
}
.formDivs{
margin: 0.7em 0em 0.7em 0em;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-justify-content:center;
justify-content:center;

}
.formInput{
width:100%;
height:2.5rem;
border-radius: 0.3rem;
border:1px solid rgba(104, 142, 158, 0.534);
color:rgb(69, 101, 115);
outline:none;
background: transparent;
box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.formInput::placeholder{
color:rgb(199, 199, 200);
}
.formAbvBel_Btns{
font-size:1em;
width:47%;
height:3rem;
border-radius: 0.3em;
color: rgba(69, 101, 115, 0.753);
border:1px solid rgba(104, 142, 158, 0.534);
box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(0, 0, 0, 0.2);
background-image: linear-gradient(to left, #ffffff, #fefefe, #fdfdfd, #fcfcfc, #fbfbfb);
transition: 0.5s;
}
.formAbvBel_Btns:hover{
color: rgba(69, 101, 115, 0.753);
border:1px solid rgb(191, 208, 211);
background: conic-gradient(from 315deg, #F5FFFF, #FCFFFF);
transition: 0.5s
}
.formProcessBtn{
font-size:1em;
width:100%;
height:2.5rem;
border-radius: 0.3em;
color: rgba(69, 101, 115, 0.753);
border:1px solid rgba(104, 142, 158, 0.534);
box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(0, 0, 0, 0.2);
background-image: linear-gradient(to left, #ffffff, #fefefe, #fdfdfd, #fcfcfc, #fbfbfb);
transition: 0.5s;
}
.formProcessBtn:hover{
color: rgba(69, 101, 115, 0.753);
border:1px solid rgb(191, 208, 211);
background: conic-gradient(from 315deg, #F5FFFF, #FCFFFF);
transition: 0.5s
}
.formProcessBtnHP{
font-size:1em;
width:30%;
height:5.2rem;
color: rgba(69, 101, 115, 0.753);
border-radius: 12em 12em 12em 12em;
border:2px solid rgba(104, 142, 158, 0.877);
box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.01), 0px 0px 2px rgba(0, 0, 0, 0.2);
background-image: linear-gradient(to left, #ffffff, #fefefe, #fdfdfd, #fcfcfc, #fbfbfb);
transition: 0.5s
}
.formProcessBtnHP:hover{
color: rgba(69, 101, 115, 0.753);
border:2px solid rgb(191, 208, 211);
background: conic-gradient(from 315deg, #F5FFFF, #FCFFFF);
transition: 0.5s
}
.header{
margin:0;
padding:0;
color: rgb(82, 120, 136);
text-align:center
}
.formHP{
border:0px solid red;
padding:0.2rem 1rem 0rem 1rem
}
.formOnOff{
font-size:1.5em;
text-align: center;
padding-top:0.5rem;
}
.formOnOff_Icon{
transition: 0.4s;
color:rgb(161, 220, 82);	
}
.formOnOff_Icon:hover{
color:rgb(220, 82, 92);
transition: 0.4s	
}
.formOn{
width: fit-content;
text-align:center;
font-size:4vw;
bottom:-1%;
left:0;
right:0;
margin-left: auto;
margin-right: auto;
z-index: 5;	
transition: 0.4s;
position: fixed;
z-index:5;
}
.formOn_Icon{
color: rgba(71, 22, 22, 0.123);
transition: 0.4s
}
.formOn_Icon:hover{
color: rgb(161, 220, 82);
transition: 0.4s
}
.BtnDivs{
margin: 0.7em 0em 0.7em 0em;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}



@media screen and (max-width: 1100px) {
.tools_container{
width: 31%;
height: 31em;
bottom:2%;
}
}

@media screen and (max-width: 920px) {
.header{
font-size:3vw	
}
.tools_container{
width: 50%;
height: 45.5em;
position: fixed;
bottom:15%;
left:0;
right:0;
margin-left: auto;
margin-right: auto;
z-index: 5;
box-shadow: 0 0 3px 3px rgb(231, 227, 230);
border-radius:1em 1em 20em 20em ;
transition: 0.4s;
}
.tools_close{

}
.tools_inner_container{

}
.tools_close{
color:rgb(161, 220, 82) ;
width: fit-content;
height: fit-content;
display: flex;
justify-content: center;
align-content: center;
padding: 0.3rem;
border-radius: 20em;
position: absolute;
z-index: 8;
right: -3%;
top:-2%;
border: 1px solid rgb(161, 220, 82);
transition: 0.4s;	
display:none
}
.tools_close :hover{
color:rgb(220, 82, 92);
transition: 0.4s;
}
.form{
padding:2rem 2rem 0.5rem 2rem
}
.select{
width:100%;
height:4rem;	
font-size:2vw;
background-color:none
}
.selectOptions{
font-size:1vw;
}
.formDivs{
margin: 1.5vw 0em 1.5vw 0em;
display:flex;
justify-content:center;
gap:1.5vw
}
.BtnDivs{
margin: 0.7em 0em 0.7em 0em;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}
.formInput{
width:100%;
height:3.5vh;
font-size:2vw;
border-radius: 0em
}
.formAbvBel_Btns{
font-size:2vw;
width:47%;
height:5.5vh
}
.formProcessBtn{
font-size:2vw;
width:100%;
height:4.5vh	
}
.formProcessBtnHP{
font-size:2vw;
width:28.5%;
height:12vw;
border-radius: 12em 12em 12em 12em		
}
.formHP{
padding:0.2rem 2rem 0rem 2rem
}
.formOnOff{
font-size:5vw;
text-align: center;
padding-top:0.5rem;
}
.formOnOff_Icon{
transition: 0.4s;
color:rgb(161, 220, 82);	
}
.formOnOff_Icon:hover{
color:rgb(220, 82, 92);
transition: 0.4s	
}
.formOn{
width: 10%;
text-align:center;
bottom:2%;
left:0;
right:0;
margin-left: auto;
margin-right: auto;
z-index: 5;	
transition: 0.4s;
position: fixed;
}
.formOn_Icon{
color: rgba(71, 22, 22, 0.123);
font-size:10vw;
transition: 0.4s
}
}

@media screen and (max-width: 850px) {
.tools_container{
width: 50%;
height: 41rem;
}		
}
@media screen and (max-width: 770px) {
.tools_container{
width: 50%;
height: 38rem;

}	
	
}


@media screen and (max-width: 550px) {
.header{
font-size:3vw	
}
.tools_container{
width: 70%;
height: 34em;
position: fixed;
bottom:5%;
left:0;
right:0;
margin-left: auto;
margin-right: auto;
z-index: 5;
box-shadow: 0 0 3px 3px rgb(231, 227, 230);
border-radius:1em 1em 20em 20em ;
transition: 0.4s;
}
.tools_close{

}
.tools_inner_container{

}
.tools_close{
color:rgb(161, 220, 82) ;
width: fit-content;
height: fit-content;
display: flex;
justify-content: center;
align-content: center;
padding: 0.3rem;
border-radius: 20em;
position: absolute;
z-index: 8;
right: -3%;
top:-2%;
border: 1px solid rgb(161, 220, 82);
transition: 0.4s;	
display:none
}
.tools_close :hover{
color:rgb(220, 82, 92);
transition: 0.4s;
}
.form{
padding:1.2rem 1.2rem 0.5rem 1.2rem
}
.select{
width:100%;
height:2.4em;	
font-size:3.5vw;
background-color:none
}
.selectOptions{
font-size:1vw;
}
.selectOptions{
font-size:2vw;
width:100%;
}
.formDivs{
margin: 1.5vw 0em 1.5vw 0em;
display:flex;
justify-content:center;
gap:1.5vw
}
.formInput{
width:100%;
height:2.5em;
font-size:2.8vw;
border-radius: 0em
}
.formAbvBel_Btns{
font-size:3vw;
width:47%;
height:3.7em
}
.formProcessBtn{
font-size:3vw;
width:100%;
height:3.2em	
}
.formProcessBtnHP{
font-size:3vw;
width:27%;
height:5.5em;
border-radius: 12em 12em 12em 12em		
}
.formHP{
padding:1.2rem 1.2rem 0rem 1.2rem
}
.formOnOff{
font-size:6vw;
text-align: center;
padding-top:0.5rem;
}
.formOnOff_Icon{
transition: 0.4s;
color:rgb(161, 220, 82);	
}
.formOnOff_Icon:hover{
color:rgb(220, 82, 92);
transition: 0.4s	
}
.formOn{
width: 10%;
text-align:center;
bottom:2%;
left:0;
right:0;
margin-left: auto;
margin-right: auto;
z-index: 5;	
transition: 0.4s;
position: fixed;
}
.formOn_Icon{
color: rgba(71, 22, 22, 0.123);
font-size:11vw;
transition: 0.4s
}
}


@media screen and (max-width: 430px) {
.header{
font-size:4.2vw	
}
.tools_container{
width: 90%;
height: 40.5em;
position: fixed;
bottom:13%;
left:0;
right:0;
margin-left: auto;
margin-right: auto;
z-index: 5;
box-shadow: 0 0 3px 3px rgb(231, 227, 230);
border-radius:1em 1em 20em 20em ;
transition: 0.4s;
}
.tools_close{

}
.tools_inner_container{

}
.tools_close{
color:rgb(161, 220, 82) ;
width: fit-content;
height: fit-content;
display: flex;
justify-content: center;
align-content: center;
padding: 0.3rem;
border-radius: 20em;
position: absolute;
z-index: 8;
right: -3%;
top:-2%;
border: 1px solid rgb(161, 220, 82);
transition: 0.4s;	
display:none
}
.tools_close :hover{
color:rgb(220, 82, 92);
transition: 0.4s;
}
.form{
padding:1.2rem 1.2rem 0.5rem 1.2rem
}
.select{
width:100%;
height:4.2em;	
font-size:3.5vw;
background-color:none
}
.selectOptions{
font-size:2.8vw;
width:100%;
}
.formDivs{
margin: 3vw 0em 3vw 0em;
display:flex;
justify-content:center;
gap:3vw
}
.formInput{
width:100%;
height:3em;
font-size:4vw;
border-radius: 0em
}
.formAbvBel_Btns{
font-size:4vw;
width:47%;
height:3.8em
}
.formProcessBtn{
font-size:4vw;
width:100%;
height:3.2em	
}
.formProcessBtnHP{
font-size:4vw;
width:28%;
height:5.5em;
border-radius: 12em 12em 12em 12em		
}
.formHP{
padding:1.2rem 1.2rem 0rem 1.2rem
}
.formOnOff{
font-size:8vw;
text-align: center;
padding-top:0.5rem;
}
.formOnOff_Icon{
transition: 0.4s;
color:rgb(161, 220, 82);	
}
.formOnOff_Icon:hover{
color:rgb(220, 82, 92);
transition: 0.4s	
}
.formOnOff_Icon:active{
color:rgb(220, 82, 92);
transition: 0.4s	
}
.formOn{
width: auto;
text-align:center;
bottom:10%;
left:0;
right:0;
margin-left: auto;
margin-right: auto;
z-index: 5;	
transition: 0.4s;
position: fixed;
}
.formOn_Icon{
color: rgba(71, 22, 22, 0.123);
font-size:18vw;
transition: 0.4s
}
}

@media screen and (max-width: 390px) {
.header{
font-size:4.2vw	
}
.tools_container{
width: 90%;
height: 35em;
position: fixed;
bottom:15%;
}
.formOn{
bottom:1%;
}
}

@media screen and (max-width: 380px) {
.header{
font-size:4.2vw	
}
.tools_container{
width: 90%;
height: 33.8em;
position: fixed;
bottom:5%;
}
.formOn{
bottom:1%;
}
}

@media screen and (max-width: 300px) {
.header{
font-size:4.2vw	
}
.tools_container{
width: 90%;
height: 25em;
position: fixed;
bottom:5%;
}
.formOn{
bottom:5%;
}
.formProcessBtnHP{
font-size:4vw;
width:28%;
height:5.5em;
border-radius: 12em 12em 12em 12em		
}
.form{
padding:1rem 1rem 0rem 1rem;
}
.formHP{
padding:0.5rem 1rem 0rem 1rem;
}
}


















